.m-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.p-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.header {
  background-color: #24292e;
  font-size: 1.4rem;
  width: 100%;
  color: white;
}
.header .header--logo {
  color: inherit;
  font-size: 4rem;
}
.header--links ul {
  list-style: none;
}
.header--links-item {
  font-weight: 600;
}
.header--links-item a {
  color: white;
  text-decoration: none;
}
.header--search-form {
  height: 30px;
  border: 1px solid #444d56;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.header--search-form:focus, .header--search-form:active {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.header--search-form input {
  min-height: 28px;
  display: table-cell;
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  box-shadow: none;
}
.header--search-form input:focus, .header--search-form input:active {
  outline: none;
}
.header .notification {
  position: relative;
  font-size: 1.6rem;
}
.header .notification .badge {
  position: absolute;
  display: inline-block;
  top: -1px;
  right: 11px;
  z-index: 2;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(#54a3ff, #006eed);
  border-radius: 50%;
}

@media (min-width: 860px) {
  .header--mobile {
    display: none;
  }

  .header--desktop {
    padding: 5px 3.2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 35px 272px 306px 1fr;
    column-gap: 1.6rem;
  }
  .header--desktop .header--links {
    width: 306px;
  }
  .header--desktop .header--links ul {
    display: flex;
  }
  .header--desktop .header--links-item {
    display: inline-block;
  }
  .header--desktop .header--links-item:not(:last-child) {
    margin-right: 1.6rem;
  }
  .header--desktop .header--user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    color: inherit;
  }
  .header--desktop .notification,
.header--desktop .details,
.header--desktop .avatar {
    text-align: center;
    width: 45px;
    display: inline-block;
  }
  .header--desktop .fa-plus {
    margin-right: 0.3rem;
  }
  .header--desktop .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header--desktop .avatar--pic {
    border-radius: 50%;
    margin-right: 0.8rem;
    width: 20px;
    height: 20px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
@media (max-width: 859px) {
  .header--desktop {
    display: none;
  }

  .header--mobile {
    padding: 5px 2rem;
  }
  .header--mobile-top {
    display: grid;
    grid-template-columns: 1fr 1fr 25px;
    justify-content: space-between;
    align-items: center;
  }
  .header--mobile-top .fa-bars {
    font-size: 2.5rem;
    opacity: 0.9;
    font-weight: 100;
  }
  .header--mobile-top .notification {
    font-size: 2rem;
  }
  .header--mobile-top .notification .badge {
    right: 5px;
  }
  .header--mobile-bottom {
    display: none;
  }
  .header--mobile-bottom .header--links {
    margin-top: 20px;
  }
  .header--mobile-bottom .header--links li {
    padding: 8px 5px;
  }
  .header--mobile-bottom .header--links li:not(:last-child) {
    border-top: 1px solid #444d56;
    border-bottom: 1px solid #444d56;
  }
  .header--mobile .avatar {
    display: flex;
    align-items: center;
  }
  .header--mobile .avatar--pic {
    border-radius: 50%;
    margin-right: 0.8rem;
    width: 20px;
    height: 20px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .header--mobile .show-nav {
    display: block;
  }
}
.main--aside {
  width: 307px;
  margin-bottom: 30px;
  padding: 0 16px;
  margin-right: 20px;
  position: relative;
}
.main--aside-user {
  position: relative;
  z-index: 3;
}
.main--aside-user img {
  display: inline-block;
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main--aside-status {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 190px;
  right: 20px;
  display: flex;
  color: #24292e;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  z-index: 5;
  border: 1px solid #e1e4e8;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main--aside-name {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main--aside-fullname {
  font-size: 2.6rem;
  color: #24292e;
}
.main--aside-username {
  color: #586069;
  font-size: 2rem;
}
.main--aside-about {
  font-size: 1.6rem;
  color: #24292e;
}

.main--content {
  width: calc(100% - 327px);
}
.main--content-tab {
  display: flex;
  align-items: center;
  list-style: none;
}
.main--content-tab-item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 200;
  color: #6e7072;
  padding: 8px 16px;
}
.main--content-tab-item svg {
  margin-right: 5px;
  opacity: 0.6;
}
.main--content-tab-item .badge {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #24292e;
  text-align: center;
  background-color: rgba(209, 213, 218, 0.5);
  padding: 0px 6px;
  border-width: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main--content-tab .tab-active {
  opacity: 1;
  font-weight: 500;
  position: relative;
  color: #24292e;
  cursor: pointer;
}
.main--content-tab .tab-active svg {
  opacity: 1;
}
.main--content-tab .tab-active:after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: red;
  height: 2px;
  bottom: -5px;
  left: 0;
}
.main--content-search {
  width: 100%;
  margin-top: 20px;
}
.main--content-search input {
  width: 100%;
  padding: 0.5rem 1.2rem;
  background: none;
  border: 1px solid #d3d5d6;
  border-radius: 6px;
  box-shadow: none;
  font-size: 1.4rem;
}
.main--content-search input:focus, .main--content-search input:active {
  outline: none;
}
.main--content-repositories {
  margin-top: 20px;
}
.main--content-repositories-result {
  font-size: 1.4rem;
  font-weight: 400;
}
.main--content-repositories-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #d3d5d6;
}
.main--content-repositories-item:nth-of-type(1) {
  border-top: 1px solid #d3d5d6;
}
.main--content-repositories-item-lang-icon {
  display: inline-block;
  margin-right: 100px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main--content-repositories-item-name {
  color: #0366d6;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}
.main--content-repositories-item-name:hover {
  text-decoration: underline;
}
.main--content-repositories-item-about {
  width: 399px;
  font-size: 1.4rem;
  padding-right: 2.4rem;
  color: #585059;
}
.main--content-repositories-item-star-icon {
  color: #585059;
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
  font-size: 1.7rem;
  font-weight: 600;
}
.main--content-repositories-item-fork-icon {
  color: #585059;
  display: inline-block;
  line-height: 0;
  margin-right: 5px;
  font-size: 1.7rem;
  font-weight: bolder;
}

.repository--header-footer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.repository--header-footer p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.repository--header-footer p span {
  margin-right: 6px;
}
.repository--header-footer p:not(:last-child) {
  margin-right: 15px;
}

.repository--star-btn {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 4px 12px;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  border: 1px solid #d3d5d6;
  border-radius: 6px;
}
.repository--star-btn i {
  margin-right: 6px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #585059;
}

.main {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 870px) {
  .main {
    flex-direction: column;
    width: 90%;
  }
  .main--aside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .main--aside-name {
    margin-left: 20px;
  }
  .main--aside-fullname {
    font-size: 2.2rem;
  }
  .main--aside-username {
    font-size: 1.8rem;
    line-height: 15px;
  }
  .main--aside-user img {
    width: 109px;
    height: 109px;
  }
  .main--aside-status {
    position: static;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background: transparent;
    border-radius: 6px;
    padding: 5px 16px;
    height: 32px;
    border: 1px solid #d3d5d6;
  }
  .main--aside-about {
    width: 100%;
  }
  .main--content {
    width: 100%;
  }
  .main--content-tab-item {
    padding: 8px 10px;
  }
  .main--content-repositories-item-about {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .main--aside-user img {
    width: 60px;
    height: 60px;
  }
  .main--content-tab {
    flex-wrap: wrap;
  }
  .main--content-tab-item {
    padding: 8px 10px;
  }
}
@media (max-width: 350px) {
  .main--aside-name {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  background: transparent;
  font-family: "Poppins", helvetica;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*# sourceMappingURL=style.css.map */
